# Common gitignore
.cproject
.project
.settings
.directory
Makefile.in
Makefile
BROWSE
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
*~
*.pc
*.o
*.o.d
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
*.creator
*.creator.user
/docs/generated/*
/build/tizen/doc
/build/tizen/.cov
/build/tizen/CPack*.cmake

/build/tizen/.ninja_deps
/build/tizen/.ninja_log
/build/tizen/build.ninja
/build/tizen/rules.ninja
/build/tizen/dali-ui-foundation/generated/

/build/desktop
/packaging/home*
compile_commands.json
.clangd
/debugfiles.list
/debuglinks.list
/debugsources.list
.clangd/
*.vscode/
*code-workspace
*.cache/
*.stamp
bin/

# Generated gettext binary catalogs
samples/text/res/locale/default/*/LC_MESSAGES/*.mo
samples/text/res/locale/alternate/*/LC_MESSAGES/*.mo
samples/text/res/locale/formatted/*/LC_MESSAGES/*.mo
samples/text/res/locale/gradient/*/LC_MESSAGES/*.mo
samples/text/res/locale/windows/*/LC_MESSAGES/*.mo
samples/accessibility-localized-name/res/locale/*/LC_MESSAGES/*.mo

/dali-ui-foundation/internal/graphics/generated
/build/tizen/dali-ui-foundation/dali-ui-shader-generator

# Documentation build artifacts (Ignore contents, not the directory itself to allow exceptions)
/build/doc/*
!/build/doc/source/

libdali2-ui*.so*
/_build/
/samples/_build/
*-example
dali.info
